.downloadBanner {
  position: absolute;
  display: flex;
  align-items: center;
  height: calc(100% + 3px);
  background-color: white;
  top: -1px;
  right: -107px;
  border-radius: 0 12px 12px 0;
  padding: 16px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: var(--main-gray);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.download {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.downloadWhiteSpace {
  border-bottom: 1px solid #ddd;
  height: calc(100% + 2px);
  top: 0px;
}
