.subMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 150px;
  top: -1px;
  left: 71px;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: var(--main-gray);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 1px solid #ddd;

  & ul {
    list-style: none;
  }

  & p {
    text-transform: capitalize;
  }
}

.subMenu button {
  border: none;
  background-color: white;
}
