.subMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  top: -1px;
  left: 71px;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: var(--main-gray);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 1px solid #ddd;

  & ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  & p {
    text-transform: capitalize;
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.subMenuButton {
  padding: 10px 20px;
  gap: 7px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  background-color: #f3f3f3;
  cursor: pointer;
  font-size: 12px;
  color: var(--main-gray);
  margin-bottom: 0;
  text-transform: capitalize;

  &:hover {
    background-color: white;
  }
}

.svgContainer {
  height: 39px;
}

.active {
  background-color: white;
}

.checkmark {
  position: absolute;
  bottom: -8px;
  right: -8px;
}
