.interactionsContainer {
  margin: 10px 12px;
  display: flex;
  flex-direction: column;
  color: var(--main-gray);
  gap: 10px;
}

.interactionsTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.interactionsBottom {
  display: flex;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #eee;
  justify-content: space-around;

  & > div {
    display: flex;
    gap: 5px;
    font-weight: 600;
    font-size: 12px;
    align-items: center;
  }
}

.commentsContainer {
  display: flex;
  gap: 8px;
}
