.interactionsContainer {
  position: relative;
  margin: 10px 16px;
  display: flex;
  flex-direction: column;
  color: var(--main-gray);
  gap: 10px;
}

.interactionsTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.reactionsContainer {
  display: flex;
  gap: 3px;
}

.emojiContainer {
  position: relative;
  height: 18px;

  > * {
    outline: 2px solid white;
    border-radius: 50%;
  }

  & :nth-child(1) {
    z-index: 30;
  }

  & :nth-child(2) {
    z-index: 20;
  }

  & :nth-child(3) {
    z-index: 10;
  }
}

.reactionSelectionWrapper {
  position: absolute;
  display: flex;
  place-content: center;
  top: -175%;
  left: -25%;
  background-color: transparent;
  padding: 20px;
}

.reactionSelection {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.reactionButton {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: none;
  background-color: white;

  > * {
    transform: scale(2);
  }
  &:disabled > * {
    opacity: 0.3;
  }
}

.interactionsBottom {
  display: flex;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #eee;
  justify-content: space-around;

  & > div {
    display: flex;
    gap: 5px;
    font-weight: 600;
    font-size: 15px;
    align-items: center;
  }
}

.commentsContainer {
  display: flex;
  gap: 8px;

  & > p {
    display: flex;
    gap: 4px;
    align-items: center;
  }
}
