.mockup {
    background-color: white;
    width: 558px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.mockup:hover .editable {
    border: 1px dotted var(--main-gray);
}

.mockupHeader {
    display: flex;
    flex-direction: row;
    margin: 16px;
    gap: 6px;
    
    
    & img {
        border-radius: 50%;
        height: 32px;
        width: 32px;
    }
}

.headerTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    
    & .headerTitleInput {
        font-size: 12px;
        font-weight: 600;
        width: fit-content;
    }
    
    & > p {
        display: flex;
        gap: 3px;
        align-items: center;
        line-height: 0;
        font-size: 10px;
        color: var(--main-gray);
        
        & > span {
            color: var(--main-black);
        }
    }
}

.buttonContainer {
    margin-left: auto;
    display: flex;
    gap: 6px;
    align-items: center;
    color: var(--main-gray);
}

.editable {
    all: unset;
    background: transparent;
    border: 1px dotted transparent;
    padding: 0;
    background: transparent;
    outline: none;
    white-space: pre-wrap;
    word-break: break-word;
}

.textSection {
  margin: 16px;
  font-size: 12px;
  font-weight: 600;
}

.readMoreButton,
.readLessButton {
  cursor: pointer !important;
  color: var(--main-gray);
  white-space: nowrap;
  margin-left: 4px;
}

.imgContainer {
    position: relative;
    height: 526px;
    width: 556px;

    & > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.inputReset {
  appearance: none;
  background: transparent;
  border: 1px dotted transparent;
  padding: 0;
  margin: 0;
  outline: none;
  font: inherit;
  color: inherit;
}
