main {
    background-color: white;
    width: 558px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}


main:hover .editable {
    border: 1px dotted var(--main-gray);
}

.mockupHeader {
    display: flex;
    flex-direction: row;
    margin: 16px;
    gap: 6px;
    
    
    & img {
        border-radius: 50%;
        height: 32px;
        width: 32px;
    }
}

.headerTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    
    & .headerTitleInput {
        font-size: 12px;
        font-weight: 600;
        
    }
    
    & > p {
        display: flex;
        gap: 3px;
        align-items: center;
        line-height: 0;
        font-size: 10px;
        color: var(--main-gray);
        
        & > span {
            color: var(--main-black);
        }
    }
}

.buttonContainer {
    margin-left: auto;
    display: flex;
    gap: 6px;
    align-items: center;
    color: var(--main-gray);
}

.headerTitleInput.editable {
    border: 1px dotted transparent;
}
span.editable {
    border: 1px dotted transparent;
}

.editable {
    width: auto;
    border: 0;
    padding: 0;
    background: transparent;
    outline: none;
    color: var(--main-black);
    white-space: pre-wrap;
    word-break: break-word;
}

.textSection {
  margin: 16px;
  font-size: 12px;
  font-weight: 600;
}


.readMoreButton,
.readLessButton {
  cursor: pointer !important;
  color: var(--main-gray);
  white-space: nowrap;
  margin-left: 4px;
}
