.mockup {
  background-color: white;
  width: 558px;
  border-radius: 12px;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #ddddddb8;
}

.mockup:hover .editable {
  border: 1px dotted var(--main-gray);
}

.mockupHeader {
  display: flex;
  flex-direction: row;
  margin: 12px;
  gap: 6px;

  & img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
}

.headerTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 500px;

  & .title {
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    width: fit-content;
  }

  & > p {
    display: flex;
    gap: 3px;
    align-items: center;
    line-height: 0;
    font-size: 13px;
    color: var(--main-gray);

    & > span {
      color: var(--main-black);
    }
  }
}

.buttonContainer {
  margin-left: auto;
  display: flex;
  gap: 12px;
  align-items: center;
  color: var(--main-gray);
}

.editable {
  all: unset;
  background: transparent;
  border: 1px dotted transparent;
  padding: 0;
  background: transparent;
  outline: none;
  word-break: break-word;
}

.textSection {
  margin: 12px;
  font-size: 15px;
  line-height: 1.3333;
  font-weight: 400;
  white-space: pre-wrap;
  word-break: break-word;
  display: block;
}

.readMoreButton,
.readLessButton {
  cursor: pointer !important;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 4px;
}

.imgContainer {
  position: relative;
  height: 526px;
  width: 556px;

  & > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.inputReset {
  appearance: none;
  background: transparent;
  border: 1px dotted transparent;
  padding: 0;
  margin: 0;
  outline: none;
  font: inherit;
  color: inherit;
}
