.mockup {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #ddddddb8;
}

.mockup:hover .editable {
  border: 1px dotted var(--main-gray);
}

.mockup:hover .addReaction {
  border: 1px dotted var(--main-gray);
  color: var(--main-gray);
}

.editable {
  background: transparent;
  border: 1px dotted transparent;
  padding: 0;
  background: transparent;
  outline: none;
  word-break: break-word;
}

.inputReset {
  appearance: none;
  background: transparent;
  border: 1px dotted transparent;
  padding: 0;
  margin: 0;
  outline: none;
  font: inherit;
  color: inherit;
}

.addReaction {
  line-height: 1;
  background: transparent;
  border: 1px dotted transparent;
  padding: 0;
  background: transparent;
  outline: none;
  color: transparent;
}

.mobile {
  width: 390px;
}

.desktop {
  width: 558px;
}

.ctaContainer {
  width: 100%;
  background-color: #f0f2f5;
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
  color: var(--main-gray);
}

.url {
  text-transform: uppercase;
  font-size: 13px;
}

.title {
  color: var(--main-black);
  font-weight: 600;
  font-size: 17px;
}

.ctaButton {
  text-transform: capitalize;
  position: relative;
  background-color: #e4e6eb;
  padding: 8px 10px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  border-radius: 8px;
  min-width: fit-content;
}

.copySelectionWrapper {
  position: absolute;
  top: -612px;
  right: -200px;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  width: 320px;
  padding: 40px;
  z-index: 1;

  & > ul {
    list-style: none;
    width: 130px;
    border-radius: 12px;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 1px solid var(--border);
    background-color: white;

    & > li {
      padding: 8px 10px;
      font-weight: normal;
      font-size: 12px;
      cursor: pointer;
      text-transform: capitalize;
    }
  }
}

.copySelectionWrapper > ul > li:hover {
  background-color: rgb(225, 225, 225);
}

.active {
  background-color: var(--main-gray) !important;
  color: white;
}

.carousel {
  font-size: 13px;
}

.mockupHeader {
  display: flex;
  flex-direction: row;
  margin: 12px;
  gap: 6px;
}

.imgContainer {
  position: relative;
  min-height: 40px;
  max-height: 40px;
  min-width: 40px;
  max-width: 40px;
  border-radius: 50%;
  overflow: hidden;

  & > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.headerTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 500px;

  & .title {
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    width: fit-content;
  }

  & > p {
    display: flex;
    gap: 3px;
    align-items: center;
    line-height: 0;
    font-size: 13px;
    color: var(--main-gray);

    & > span {
      color: var(--main-black);
    }
  }
}

.buttonContainer {
  margin-left: auto;
  display: flex;
  gap: 12px;
  align-items: center;
  color: var(--main-gray);
}

.textSection {
  margin: 12px;
  font-size: 15px;
  line-height: 1.3333;
  font-weight: 400;
  white-space: pre-wrap;
  word-break: break-word;
  display: block;
}

.readMoreButton,
.readLessButton {
  cursor: pointer !important;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 4px;
}

.imgSectionImgContainer {
  position: relative;
  height: 526px;
  width: 556px;

  & > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
