.mockup {
  background-color: white;
  width: 558px;
  border-radius: 12px;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #ddddddb8;
}

.mockup:hover .editable {
  border: 1px dotted var(--main-gray);
}

.editable {
  background: transparent;
  border: 1px dotted transparent;
  padding: 0;
  background: transparent;
  outline: none;
  word-break: break-word;
}

.imgContainer {
  position: relative;
  height: 526px;
  width: 556px;

  & > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.inputReset {
  appearance: none;
  background: transparent;
  border: 1px dotted transparent;
  padding: 0;
  margin: 0;
  outline: none;
  font: inherit;
  color: inherit;
}
