.mockup {
  position: relative;
  border-radius: 12px;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #ddddddb8;
  width: 390px;
  height: 654px;
  padding-top: 8px;
}

.mockup:hover .editable {
  border: 1px dotted var(--main-gray);
}

.editable {
  background: transparent;
  border: 1px dotted transparent;
  padding: 0;
  background: transparent;
  outline: none;
  word-break: break-word;
}

.mockupHeader {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 12px;
  gap: 6px;
  z-index: 10;
}

.imgContainer {
  position: relative;
  min-height: 40px;
  max-height: 40px;
  min-width: 40px;
  max-width: 40px;
  border-radius: 50%;
  overflow: hidden;

  & > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.headerTitleContainer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 500px;

  & .title {
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    width: fit-content;
  }

  & > p {
    display: flex;
    gap: 3px;
    align-items: center;
    line-height: 0;
    font-size: 13px;

    & > span {
      color: var(--main-black);
    }
  }
}

.buttonContainer {
  margin-left: auto;
  display: flex;
  gap: 12px;
  align-items: center;
  color: white;
}

.imgSectionImgContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;

  & > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 15%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0.5) 100%
    );
    height: 100%;
    width: 100%;
  }
}

.timerBar {
  position: relative;
  height: 2px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  gap: 3px;
  margin: 0 12px 0 12px;
  border-radius: 100vw;

  * {
    position: relative;
    background-color: #ffffff7f;
    flex-grow: 1;
  }

  .time {
    position: absolute;
    height: 2px;
    top: 0;
    left: 0;
    width: 40%;
    background-color: white;
  }
}

.ctaButtonWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ctaButton {
  text-transform: uppercase;
  background-color: white;
  padding: 8px 10px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  border-radius: 8px;
  min-width: fit-content;
  color: #0064d1;
  font-weight: 400;
}

.copySelectionWrapper {
  position: absolute;
  right: -200px;
  top: -570px;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  width: 320px;
  padding: 40px;
  z-index: 15 !important;
  color: black;

  & > ul {
    list-style: none;
    width: 130px;
    border-radius: 12px;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white;

    & > li {
      padding: 8px 10px;
      font-weight: normal;
      font-size: 12px;
      cursor: pointer;
      text-transform: capitalize;
    }
  }
}

.copySelectionWrapper > ul > li:hover {
  background-color: rgb(225, 225, 225);
}

.active {
  background-color: var(--main-gray) !important;
  color: white;
}
