.carouselCard {
  position: relative;
  border: 1px solid var(--border);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  & > img {
    object-fit: cover;
    width: 300px;
    height: 300px;
  }
}

.carouselCard:hover .removeCardButton {
  opacity: 0.75;
}

.mobile {
  width: 390px;
  height: 388px;

  & > img {
    object-fit: cover;
  }
}

.carousel {
  position: relative;
  width: auto;
  padding: 13px;
}

.slider :global(.slick-slide) {
  padding: 0px 5px;
}

.slider :global(.slick-list) {
  margin: 0px -5px;
}

.slider > button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  border: 1px solid var(--border);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2 ease;

  > * {
    margin-top: 3px;
    color: #65676b;
  }
}

.slider > :global(.slick-prev) {
  left: 0;
}

.slider > :global(.slick-prev.slick-disabled) {
  opacity: 0;
}

.slider > :global(.slick-next) {
  right: 0;
}

slider > :global(.slick-disabled) {
  pointer-events: none;
}

.addCardBtn {
  position: absolute;
  top: 50%;
  right: 13px;
  transform: translateY(-50%);
  z-index: 10;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  border: 1px solid var(--border);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  > * {
    color: var(--main-gray);
  }
}

.removeCardButton {
  position: absolute;
  inset: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: var(--main-gray);
  opacity: 0.3;
  cursor: pointer;
  padding: 10px;

  &:hover {
    > span {
      display: block;
    }
  }

  > span {
    display: none;
    position: absolute;
    width: 200%;
    left: -50%;
    top: 4px;
    font-size: 12px;
    font-family: Montserrat;
  }
}
