.carouselCard {
  position: relative;
  border: 1px solid var(--border);
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  & > img {
    object-fit: cover;
    width: 300px;
    height: 300px;
  }
}

.mobile {
  width: 390px;
  height: 388px;

  & > img {
    object-fit: cover;
  }
}

.carousel {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 13px;
  overflow: hidden;
}
