header {
  position: absolute;
  display: flex;
  gap: 4px;
  align-items: center;
  font-family: Montserrat;
  padding: 20px;
  left: 0;
  top: 0;
}

header > img {
  width: 35px;
}

header > span {
  font-size: 18px;
  font-weight: 200;

  & > strong {
    font-weight: 700;
  }
}
