footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
}

footer a {
  text-decoration: none;
  color: #666;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

footer img {
  width: 75px;
}
