
.fileInput {
  display: none;
}

.circleButton {
  position: absolute;
  opacity: 0;
    top: 50%;
    left: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  cursor: pointer;
  transition: all 0.15s ease, color 0.15s ease, transform 0.05s ease;
}

.show {
    opacity: 1;
}

.circleButton:hover {
  transform: scale(1.1);
}

.circleButton:active {
  transform: scale(1);
}
