.mockupHeader {
  display: flex;
  flex-direction: row;
  margin: 12px;
  gap: 6px;

  & img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
}

.headerTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 500px;

  & .title {
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    width: fit-content;
  }

  & > p {
    display: flex;
    gap: 3px;
    align-items: center;
    line-height: 0;
    font-size: 13px;
    color: var(--main-gray);

    & > span {
      color: var(--main-black);
    }
  }
}

.buttonContainer {
  margin-left: auto;
  display: flex;
  gap: 12px;
  align-items: center;
  color: var(--main-gray);
}

.textSection {
  margin: 12px;
  font-size: 15px;
  line-height: 1.3333;
  font-weight: 400;
  white-space: pre-wrap;
  word-break: break-word;
  display: block;
}

.readMoreButton,
.readLessButton {
  cursor: pointer !important;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 4px;
}
