:root {
  --main-black: #050505;
  --main-gray: #65676b;
  --border: #e1e2e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  height: 100dvh;
  background-color: #f0f2f5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySlider .slickSlide {
  background-color: red;
}

main {
  padding: 20px;
  background-color: #f0f2f5;
}

#loading {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f2f5;
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    border-radius: 50%;
    border: 2px solid transparent;
    border-color: transparent var(--main-gray) var(--main-gray);
    height: 100px;
    width: 100px;
    animation: rotateInfinite 1s linear infinite;
  }
}

@keyframes rotateInfinite {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
