.menuContainer {
  position: absolute;
  top: 50dvh;
  left: 50vw;
  transform: translate(-358px, -50%);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  overflow: hidden;

  > button {
    position: relative;
    cursor: pointer;
    padding: 12px 12px;
    color: var(--main-gray);
    border: 1px solid transparent;

    &:hover {
      background-color: white;
    }
  }
}

.active {
  background-color: white;
}