.settingsContainer {
  position: absolute;
  top: 50dvh;
  left: 50vw;
  transform: translate(300px, -50%);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;

  > button {
    position: relative;
    cursor: pointer;
    padding: 12px 16px;
    color: var(--main-gray);
    border: 1px solid transparent;
  }
}

.format {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  &.active {
    border-bottom: 1px solid #ddd;
  }
}

.options.active {
  border-top: 1px solid #ddd;
}

.whiteSpace {
  position: absolute;
  right: -12px;
  top: 0;
  width: 24px;
  height: 100%;
  background-color: white;
  z-index: 2;
}

.formatWhiteSpace {
  top: -2px;
  height: calc(100% + 2px);
  border-top: 1px solid #ddd;
}

.deviceWhiteSpace {
  height: calc(100% + 1px);
}

.divider {
  background: linear-gradient(
    90deg,
    rgba(195, 195, 195, 0) 0%,
    rgba(195, 195, 195, 1) 50%,
    rgba(195, 195, 195, 0) 100%
  );
  height: 2px;
  width: 100%;
}

.active {
  background-color: white;
}
