.imgContainer {
  position: relative;
  height: 526px;
  width: 556px;

  & > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.fileUploadBtn {
  position: absolute;
  top: 50%;
  left: 50%;
}
